body {
  font-family: "Trebuchet MS";
  text-align: center;
  /*couleur de Marseille*/
  color: #cccfff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /*vraiment très bien comme effet*/
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-color: #dd0000;
}

h1 {
  position: relative;
  /*taille de Marseille*/
  font-size: 50px;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  /*Taille de l'infobulle*/
  font-size: 10px;
  /*Pour que ça soit moins violent*/
  transition: opacity 0.3s, top 0.5s;
}

h1:hover .tooltip {
  top: -30px;
  opacity: 1;
}
