@keyframes wheeeee {
  from {
    left: 0;
    bottom: 0;
  }

  to {
    bottom: 100%;

    left: 100%;

    color: #ff5acd;
  }
}

.my-profile {
  border-radius: 12px;
  box-shadow: 5px 5px 15px black;
}

.profile-pic-wrapper {
  border-radius: 20px;
  background: linear-gradient(45deg, #fbda61, #ff5acd);
}

#profile-pic {
  border-radius: 50%;
  border: 6px solid hsl(0, 0%, 100%);
}

#profile-name {
  color: rgb(0, 0, 255);
}

/* - .favorite-place doit avoir l'image de fond suivante () alignée sur le haut et qui couvre toute la <div>
 */
.favorite-place {
  background-image: url(http://placeimg.com/640/480/nature);
  border-radius: 0 0 12px 12px;
  background-position: top;
  background-size: cover;
}

.plane {
  position: absolute;
  color: white;
  animation: 5s ease 0.1s infinite running wheeeee;
  font-size: 3rem;
  transform: rotate(45deg);
  bottom: 0;
}

.like-button {
  transition: transform 0.5s ease;
}

.like-button:hover,
.like-button:focus {
  transform: scale(1.1, 1.1);
}

/*
- .like-button doit devenir plus gros (utilisez transform : scale(1.1, 1.1)) au passage de la souris pour montrer à l'utilisateur qu'il peut liker l'image !
*/

/* Ce code ne fait pas partie de l'exercice et sert juste pour l'affichage de cet exemple */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.card {
  width: 550px;
  margin: 80px auto;
}

.my-profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
}

.profile-info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  flex-grow: 2;
  padding: 0 20px;
}

h2,
h5 {
  margin: 4px 0;
}

.profile-pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: calc(100% + 30px);
  transform: translateX(-15px);
  z-index: 2;
}

#profile-pic {
  width: 120px;
  height: 120px;
}

.favorite-place {
  position: relative;
  width: 100%;
  height: 400px;
  transform: translateY(-10px);
}

.plane {
  position: absolute;
  color: white;
  font-size: 3rem;
  transform: rotate(45deg);
}

.like-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 15px 40px;
  border: 0;
  border-radius: 20px;
  background: #ff4757;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.like-button > i {
  margin: 0 7px;
}
